<nav class="set-nav">
  <div class="wrapper-detail">
    <div class="navigation-detail wrap">
      {{page.secondNav}}
  </div>

  </nav>


<div class="wrapper-shop">
  <div class="header wrap row">
    <div class="header-logo col-4 px-0">
      {{ page.header }}
      <span>Dé online bierhandelaar</span>
    </div>
    <div class="header-icon col-4">
      <img src="/{{directory}}/assets/img/beers.svg" alt="">
    </div>
    <div class="webshop-header col-4">
      {{ page.search }}
    </div>
  </div>
</div>

<nav class="set-nav">
  <div class="wrapper-nav">
    <div class="main-navigation wrap">
      {{page.mainNav}}
    </div>
  </div>
</nav>
