  <div class="container-fluid">

  {% include directory ~ '/templates/menu/navigation.html.twig' %}

   <div class="hero-image">
            <p>
                Pilsner Urquell Christmas edition
                Nu verkrijgbaar bij Craftbeers. 
            </p>
            <div class="discover-btn">
                <a href="">Ontdek hem nu</a>
            </div>
        </div>

        <!-- -->

        <div class="home-section wrap">
            <div class="filter-section">
                <p>FILTER</p>
                <div class="filters">
                    <div>beer</div>
                    <div>belgium</div>
                </div>
            </div>
            <div class="home-view">
                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" min="0" name="" id="">
                        <input type="submit" value="toevoegen" class="custom-submit">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>

                <div class="product-view__home">
                    <div class="product-name">
                        Cantillon gueuze
                    </div>
                    <div class="product-style">
                        Geuze
                    </div>
                    <div class="product-info">
                        <div class="product-image">
                            <img src="/{{directory}}/assets/img/cantillon.png" alt="">
                        </div>
                        <div class="">
                            <label for="">Country</label>
                            <p>Belgium</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <label for="">Alcohol %</label>
                            <p>strong</p>
                            <div class="price">$ 12,00</div>
                        </div>
                    </div>
                    <div class="order">
                        <input type="number" name="" id="">
                        <input type="submit" value="toevoegen">
                    </div>
                </div>
            </div>
        </div>
  {% include directory ~ '/templates/menu/footer.html.twig' %}

</div>